body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 60px;
     }
  
  .headText h1{
    text-align: center;
    padding: 10px;
    font-family: 'Bigelow Rules';
    text-shadow: 4px 4px 4px #aaa;
    font-size: 72px;
    color: #0ccac4;
    
}

a{
  text-decoration : none;
  color: black;
}