body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #dad2e9 50%, #E4E9FD 50%);
  }
  
  .headText h1{
    text-align: center;
    padding: 10px;
    font-family: 'Bigelow Rules';
    text-shadow: 4px 4px 4px #aaa;
    font-size: 72px;
    color: #0ccac4;
    
}